body {
  text-align: center;
  margin: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  text-align: center;
  color: black;
}
div:nth-child(9) {
  position: relative;
  height: 50px;
	width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: blue;
  margin: auto;
}
div div {
  text-align: left;
  margin-top: 280px;
  margin-left: 150px;
}

